$anthracite: #364347;
$limedSpruce: #3e494d;
$riverBed: #4c5a69;
$porcelain: #ecf0f1;
$desertStorm: #f0f0ef;
$mystic: #E5EDF0;
$pickledBluewood: #34495e;
$curiousBlue: #3498db;
$zooparcBlue: #2E85A3;
$twitterBlue: #33CCFF;
$facebookBlue: #3B5998;
$fountainBlue: #5C97BF;

$hameaux: (bgc: #479194, c: #fff);

$jardin: (bgc: #94C11F, c:#fff);
$conifer: #a7da46;
$pastelGreen: #65d269;
$menthe: #48a271;

$saffronMango: #f8c957;
$koromiko: #ffbe5b;
$goldenrod: #FAD46B;
$zooparcYellow: #FFCB00;
$capeHoney:#FDE3A7;
$carrotOrange: #f1892d;

$athsSpecial: #ebebcd;
$whiteRock: #ececda;

$pagodes: (bgc: #C03427, c: #fff);
$monaLisa: #FFAC9C;
$salmon: #FF7C6C;
$mandy: #ea5455;
$fuzzyWuzzyRed :#c94e4e;
$cinnabar: #e14242;
$valencia: #dd4747;
$googleRed: #DD4B39;
$chineseRed: #DE2910;

$antiqueBrass: #CD9D77;
$santaFe: #b2704e;
$beauvalNatureBrown: #B19C89;